# Environments
.venv/

# Python
__pycache__/
*.py[cod]

# Jupyter Notebooks
.ipynb_checkpoints/

# IDEs
.vscode/

# Documentation source
docs/etl_workshop-1.pdf

# OS files
.DS_Store
Thumbs.db

# Data files
data/raw/candidates_sample.csv

# Credentials and secrets
.env

# Logs
logs/etl.log
